// basic layout of all pages
#scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary-transparent;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    background-color: $primary;
  }
  &:active {
    transform: scale(0.97);
  }
  &.show {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.bg-primary-light {
  background-color: $primary-light;
}

.bg-primary-transparent {
  background-color: $primary-transparent;
}
