$primary-color: black;
.footer {
  background-color: $dark;
  color: white;

  .nav-link {
    color: white;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $primary;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .social-media-icons {
    font-size: 1.5rem;

    i {
      color: white;
      transition: color 0.3s;
    }

    a:hover i {
      color: $primary;
    }
  }
}
